* {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    box-sizing: border-box;
}

body {
    background: #ecf0f1;
    font-family: sans-serif;
    padding-top: 160px;
    transition: padding-top 0.5 ease;
}

header {
    width: 100%;
    height: 135px;
    background: #0BC4F2;
    text-align: left;
    padding-left: 20px;
    position: fixed;
    top: 0;
    overflow: hidden;
    transition: all 0.5 ease;
}

header h1 {
    font-size: 45px;
    font-family: monospace;
    color: white;
    line-height: 100px;
    font-weight: 300;
    transition: all 0.3s ease;
}

header h1 i {
    font-weight: bold;
    text-transform: uppercase;
}

header nav {
    text-align: right;
    padding-right: 25px;
    position: absolute;
    bottom: 50;
    height: 60px;
    line-height: 60px;
    width: 100%;
    background: rgba (232, 63, 0, 0.8);
}

header nav a {
    color: white;
    display: inline-block;
    padding: 10px 15px;
    line-height: 1;
    text-decoration: none;
    border-radius: 5px;
}

header nav a:hover {
    background: rgba (0, 0, 0, 0.2);
}

h2 {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 400;
    line-height: 2;
    color: #2c3e50;
}

p {
    margin-bottom: 2rem;
    line-height: 2;
    color: #7f8c8d;
}

section {
    margin: 10px;
    padding: 20px;
    background: white;
    border-radius: 4px;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}

body.sticky-header {
    padding: 100px;
}

body.sticky-header header {
    height: 60px;
    background: #e88300;
}

body.sticky-header header h1 {
    transform: scale(0, 0);
}